
<div class="col-md-5">

<form  *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate>

    <div class="form-group">

        <label>Driver No</label>
        <input 
        type="text"
        class="form-control"
        name="driver_no"
        [(ngModel)]="form.driver_no"
        required
        minlength="3"
        maxlength="20"
        #driver_no="ngModel">
    </div>

    <div class="form-group">
        <label>Salary</label>
        <input 
        type="text"
        class="form-control"
        name="salary"
        [(ngModel)]="form.salary"
        required
        minlength="8"
        maxlength="20"
        #salary="ngModel"
        id="salary">
        
    </div>
    
    
     <div class="form-group">
        <label>Date Of Joining</label>
        <input
        type="date"
        class="form-control" 
        name="date_of_joining"
        [(ngModel)]="form.date_of_joining"
        required
        #date_of_joining="ngModel"
        id="date_of_joining">
     </div>

    <div class="form-group">
        <label>Date Of Salary Initiation</label>
        <input
        type="date"
        class="form-control"
        name="date_of_salary_initiation" 
        [(ngModel)]="form.date_of_salary_initiation"
        required
        #date_of_salary_initiation="ngModel"
        id="date_of_salary_initiation">
    </div>

     <div class="form-group">
        <label>Food Expenses</label>
        <input
        type="text"
        class="form-control"
        name="food_expenses"
        [(ngModel)]="form.food_expenses"
        required
        #food_expenses="ngModel"    
        id="food_expenses">
     </div>

    <div class="form-group">
        <label>Yearly Bonus</label>
        <input 
        type="text"
        class="form-control"
        name="yearly_bonus" 
        [(ngModel)]="form.yearly_bonus"
        #yearly_bonus="ngModel"
        id="yearly_bonus">

    </div>

     <div class="form-group">
        <button class="btn btn-primary ">Save</button>
      </div>

      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
        Signup failed!<br />{{ errorMessage }}
      </div>
</form>
<div class="alert alert-success" *ngIf="isSuccessful">
    Your registration is successful!
  </div>

</div>